@import '../src/styles/mixins';

.send-answer {
  margin-top: 40px;
  width: 400px;

  &__input {
    @include input;
    width: 100%;
    border-radius: 5px;
  }

  &__info{
    font-size: 10px;
    margin-top: 10px;
    font-weight: 200;
    color: #929292;
  }
}
