@mixin input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dedede;
  border-radius: 5px;
  transition: 0.1s;
  outline: 2px solid transparent;
  color: #373737;
  font-weight: 300;

  &:focus {
    outline-color: #f3f3f3;
  }

  &::placeholder {
    color: #acacac;
  }
}
