.score {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__ready-status {
    position: absolute;
    top: -40px;
    border: 1px solid #32c532;
    color: #32c532;
    border-radius: 10px;
    padding: 6px 10px;
    font-size: 12px;
  }

  &__username {
    font-weight: 700;
    font-size: 21px;
    color: #454e5d;
  }

  &__point {
    margin-top: 20px;
    font-size: 18px;
    padding: 8px 15px;
    background-color: #f8f8f8;
    color: #23476f;
    border-radius: 10px;
  }

  &__vs-icon {
    width: 50px;
    height: 50px;
  }
}
