.ready{
  display: flex;
  justify-content: center;
  margin-top: 60px;

  &__button{
    background-color: #e7ffe7;
    color: green;
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
      background-color: #e0ffe0;
    }
  }
}