@import '../../styles/mixins';

.welcome {
  width: 400px;

  &__text {
    font-weight: 400;
    font-size: 30px;
    color: #282828;
    text-align: center;
  }

  &__username-input {
    @include input;
    margin: 25px 0;
  }

  &__save-username {
    background-color: #efefef;
    color: #2e2e2e;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;

    &:hover {
      background-color: #e1e1e1;
    }
  }
}
